<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <eu.markov.jenkins.plugin.mvnmeta.MavenMetadataParameterDefinition plugin="maven-metadata-plugin@1.5.0">
          <name>DEALPOINTREPORTS</name>
          <description>Dropdown for Dealpoint-Reports artifacts versions</description>
          <repoBaseUrl>http://172.26.54.6/webdav/releases</repoBaseUrl>
          <groupId>com.sony.spe.mp.jasper</groupId>
          <artifactId>jasperreport</artifactId>
          <packaging>war</packaging>
          <classifier></classifier>
          <defaultValue>RELEASE</defaultValue>
          <versionFilter></versionFilter>
          <sortOrder>DESC</sortOrder>
          <maxVersions>10</maxVersions>
          <currentArtifactInfoUrl></currentArtifactInfoUrl>
          <currentArtifactInfoLabel></currentArtifactInfoLabel>
          <currentArtifactInfoPattern></currentArtifactInfoPattern>
          <credentialsId></credentialsId>
        </eu.markov.jenkins.plugin.mvnmeta.MavenMetadataParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>win10</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.powershell.PowerShell plugin="powershell@1.3">
      <command>Param([string]$dversion=$env:DEALPOINTREPORTS_VERSION,[string]$durl=$env:DEALPOINTREPORTS_ARTIFACT_URL)
Write-Output $durl $dversion
Remove-Item jasperreport*.war
wget $durl -OutFile jasperreport-$dversion.war
Remove-Item D:\C2C_Local_Setup\App\jboss-eap-6.4\standalone\deployments\jasperreport*
Copy-Item jasperreport-$dversion.war D:\C2C_Local_Setup\App\jboss-eap-6.4\standalone\deployments\
cd D:\C2C_Local_Setup\App\jboss-eap-6.4\bin\
</command>
    </hudson.plugins.powershell.PowerShell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>